<h3>Все товары</h3>
<div class="products"></div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.27.1/axios.min.js"></script>
<script src="./axios.js"></script>
<script>
let api = "http://localhost:3000/"

axios.get(api + "product")
    .then(res => {
        console.log(res.data.body);
        for(let item of res.data.body) {
            const p = document.createElement("p")
            const a = document.createElement("a")

            p.innerText = item.title
            a.href = `./product.html?id=${ item._id}`

            a.append(p)
            document.querySelector(".products").append(a)
        }
    })
    .catch(res => {
        console.log(res);
    })
</script>


<style>
    a{
        text-decoration: none;
    }
</style>

<!-- <script src="index.js"></script> -->

