<h1>HELLO WORLD</h1>

<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.27.1/axios.min.js"></script>
<script src="./axios.js"></script>
<script>
    let api = "http://localhost:3000/"
    let id = window.location.search.split("id=")[1]

    axios.get(`${api}product/${id}`)
        .then(res => {
            console.log(res);
        })
        .catch(res => {
            console.log(res);
        })


</script>